.innercontent {
   background-color: white;
   border: solid 1px green;
    height: 667px;
    width: 375px;
    margin-top: 85px;
    margin-left: 84px;
    z-index: 10;
}

body{
    background-image: url(phoneimage.png);
    background-repeat: no-repeat;
    background-position-x: 513px;
    background-attachment: fixed;
    /* background-position: center; */
    /* background-size: 515px 900px; */
}
.container {
    height: 650; 
    width:300;
    color: grey;


}
.fa-mobile-alt {
    font-size: 900px;
}
.everything {
    position: relative;
}

.backgroundimg, .Content {
    position: absolute;
    margin-left: 450px;
}

#photo-button {
    background-color: #FDEC00;
    color: black;
    font-size: 16px;
    
    }
    
    #photo-icon {
      font-size:50px;
      color: #C2D1D9;
      background-color: #F2F5F7;
      text-align: center;
      margin: 5px;
    }
    
    
    .btn1 {

        background-color: #00C2BF;
        border: none;
        color: white;
        border-radius: 4px;
        text-align: center;
        font-size: 16px;
        padding: 12px 65px 12px;
        width: 50%;
        display: block; margin: 0 auto;
        }
        
        .form-group .fa {
        
        padding-left: 1rem;
        padding-right: 1rem;
        
        }
        
.fa-minus {
    color: #FDEC00;
}

.fa-plus {
    color: #FDEC00;
}

.form {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    width: 75px;
    height:100px;
 }
 
 .flexrow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width:100;
 }
 
 .flexrow input {
    text-align: center;
 }
 
 .inputbox, .button, .thex {
    font-size: 16pt;
 }
 
 .inputbox {
    border-radius: 6px;
    border-color: #778899;
    border-style: solid;
    border-width: 1px;
    margin: 15px;
    padding: 10px;
    width: calc(100% - 50px);
    height: 35px;
 }
 
 .button {
    border-radius: 6px;
    text-decoration: none;
    color: #000;
    border-style: solid;
    border-color: #000;
    border-width: 1px;
    width: 100%;
    text-align: center;
    margin: 15px;
    text-transform: uppercase;
 }
 
 #addbutton {
    border-color: #555;
    background-color: #555;
    color: #FFF;
 }
 
 .thex:nth-of-type(2) {
    white-space: nowrap;
    padding-right: 15px;
 }
 
 .textbox {
     margin-left: 23px;
 }

 .textboxhe {
     height: 35px;
 }

 .headerrules {
        background-color: #00C2BF;
        border: none;
        color: white;
        border-radius: 4px;
        text-align: center;
        font-size: 16px;
        padding: 12px 65px 12px;
        width: 50%;
        display: block; margin: 0 auto;
        }

.rentbtn1 {
    border: solid 15px #00C2BF;
    color: black;
    background-color: white;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 65px;
    width: 50%;
    border-radius: 4px;
    display: block; margin: 0 auto;
    }
    
.rentbtn2 {
    color: black;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    padding: 10px 65px;
    width: 100%;
    display: block; margin: 0 auto;
    }
    
.notification-drop-down {
    background-color:#00C2BF30;
}

.CARD {
    width: 365px;
    height: 653px;
    color: white;
    z-index: 11;
}
.amount-due {
    height: 63px;
    width: 375px;
    background-color: #00C2BF;
    padding: 10px;
  }
  
  .header {
    padding-bottom: 15px;
  }
  
  .amount-due-text {
    color: white;
    float: left;
  }
  
  .amount-due-total {
    color: white;
    float: right;
  }
  
  .dashboard-notification {
    height: 100px;
    width: 345px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: black;
    margin: auto;
  }
  
  .dashboard-container {}
  
  .notification-text {
    color: white;
    width: 250px;
    height: 50px;
  }
  
  .dashboard-notification-dropdown {
    height: 360px;
    width: 325px;
    padding-left: 25px;
    padding-top: 15px;
  }
  
  .notification-drop-down {
    height: 344px;
    width: 325px;
    background-color:#00C2BF30;
    position: relative;
    margin: auto;
  }
  
  .notification-text-dropdown {
    color: white;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .notification-text-dropdown-note {
    color: white;
    width: 270px;
    height: 63px;
    margin: auto;
  }
  
  .dashboard-notification-two {
    height: 100px;
    width: 345px;
    padding-left: 15px;
    padding-top: 15px;
  }
  
  .col-12 {
    background-color: yellow;
    width: 325px;
    height: 40px;
    text-align: center;
    padding: 5px;
  }
  
  .col-6 {
    text-align: center;
    padding: 15px;
    height: 55px;
    width: 163px;
  }
  
  .col-7 {
    color: black;
  }
  
  .col-5 {
    color: black;
  }
  
  .myRow {
    width: 373px;
    height: 56px;
    display: flex;
  }
  
  .myCol {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    padding: 12px;
    text-align: center;
  
    position:fixed;
    bottom: -17px;
  
    background-color: #00C2BF;
    color: white;
  }
  
  .myCol a {
    font-size: 12px;
    margin: auto;
  }

  .icon {
    width: 50%;
    display:inline;
    margin-left: 40px;
    color:red;
  }